.a_name,
.a_email{
    display: block;
    margin: 5px;
}

.b_text{
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}
.b_yes,
.b_no{
    vertical-align: middle;
}


.google{
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    
}
.search{
    display: block;
    padding-left: 10px;
    width: 420px;
    border: none;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px gray;
    margin: auto;
}
