._9a{
    width: 100px;
    height: 100px;
    background-color: red;
}

._9b{
    margin-top: 5px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: green;
}

._9c{
    margin-top: 5px;
    padding: 5px;
    width: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

._9c_text{
    margin-top: 0px;
}

._9d{
    background-color: rgb(23, 22, 22);
    margin-top: 5px;
    padding: 10px;
    width: 300px;
    height: 55px;
}

._9d_text_1{
    font-weight: bold;
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

._9d_text_2{
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.box1{
    display:inline-block;
    box-shadow: 0px 0px 10px gray;
    margin:5px
}

.cat{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.text1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin:5px;
}

.text2{
    font-family: 'Roboto', sans-serif;
    color: gray;
    margin:5px;
    font-size: small;
}

.button{
    height: 30px;
    width: 90px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px 5px 5px;
    cursor: pointer;
}