._7a{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

._7b{
    margin-left: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

._7c{
    margin-left: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 75px;
}

div{
    margin-bottom: 30px;
}

._7d{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 10px;
    border-style: solid;
}

._7e{
    width: 350px;
    height: 30px;
    border: none;
    box-shadow: 0px 0px 10px gray;
    border-radius: 15px;
    padding-left: 10px;
}

.mail{
    color: gray;
    margin-bottom: 5px;
}

.box{
    width : 380px;
    border-width: 1.5px;
    height: 25px;
    border-radius: 3px;
}

.policy{
    color: gray;
}

.join{
    background-color: rgb(10, 102, 194);
    font-size: large;
    border: none;
    color: white;
    height: 50px;
    width: 386px;
    border-radius: 25px;
    cursor: pointer;
}

._7g{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    width: 500px;
}

.cat{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 25px;
}

.happen{
    border: none;
    font-size: medium;
    margin-right: 20px;
}

.tweet{
    background-color: rgb(8, 160, 233);
    color: white;
    border: none;
    height: 25px;
    width: 60px;
    border-radius: 12.5px;
}

